/*-- scss:defaults --*/
// base document
$body-bg: #f7f7f7;
$body-color: rgb(36, 36, 36);
$link-color: #e21111;
$font-size-root: 0.9rem;

// code
$code-bg: #f7f7f7;
$code-color: #e21111;

// other
$border-width: 1.5px;
$border-radius: 0rem;
$table-color: #11e211;
$nav-link-color: #111be2;
$nav-tabs-border-color: #e2d111;